@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Inter&display=swap');

h3{
    padding-top: 25px;
    padding-bottom: 10px;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
.carta{
    background-color: white;
    color: black;
    width: 220px;
    height: 380px;
    padding: 10px 5px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.imgCard{
    width: 100%;
    border-radius: 25px;
    padding: .5rem;
}
.carta p{
    font-family: 'Inter', sans-serif;
    padding: .5rem;
    text-align: center;
}
.carta .precio{
    font-size: 1.5rem;
    padding-bottom: 1rem;
    font-weight: 550;
}
.botonAgregar{
    position: relative;
    bottom: 20px;
    padding: 5px;
    border-radius: 1rem;
    width: 50%;
    border: 2px solid white;
    font-family: 'Inter', sans-serif;
    color: white;
    background: rgb(90, 90, 90);
}
.image{
    height: 210px;
    display: flex;
}