*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: sans-serif;
  font-size: 16px;
  background: #ccc;
  position: relative;
  min-height: 100vh;
  padding-bottom: 24rem;
}